[project]
name = "universal-mcp"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "Manoj Bajaj", email = "manojbajaj95@gmail.com" }
]
requires-python = ">=3.11"
dependencies = [
    "pydantic>=2.11.1",
    "pydantic-settings>=2.8.1",
    "loguru>=0.7.3",
    "mcp>=1.5.0",
    "pyyaml>=6.0.2",
    "typer>=0.15.2",
]

[project.optional-dependencies]
test = [
  "pytest>=8.3.5",
  "pytest-asyncio>=0.26.0",
]

[project.scripts]
universal_mcp = "universal_mcp.cli:app"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

