[project]
name = "universal-mcp"
version = "0.1.0"
description = "Universal MCP acts as a middle ware for your API applications. It can store your credentials, authorize, enable disable apps on the fly and much more."
readme = "README.md"
authors = [
    { name = "Manoj Bajaj", email = "manojbajaj95@gmail.com" }
]
requires-python = ">=3.11"
dependencies = [
    "pydantic>=2.11.1",
    "pydantic-settings>=2.8.1",
    "loguru>=0.7.3",
    "mcp>=1.5.0",
    "pyyaml>=6.0.2",
    "typer>=0.15.2",
    "markitdown[all]>=0.1.1",
]

[project.optional-dependencies]
playground = [
    "fastapi[standard]>=0.115.12",
    "langchain-anthropic>=0.3.10",
    "langchain-mcp-adapters>=0.0.3",
    "langgraph>=0.3.24",
    "langgraph-checkpoint-sqlite>=2.0.6",
    "streamlit>=1.44.1",
    "langchain-anthropic>=0.1.23",
    "python-dotenv>=1.0.1",
]
dev = [
    "ruff>=0.11.4",
    "pytest>=8.3.5",
    "pytest-asyncio>=0.26.0",
    "pyright>=1.1.398",
]
[project.scripts]
universal_mcp = "universal_mcp.cli:app"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
